/* Estilos para el contenedor de la cuadrícula (Columna Derecha) */
.product-catalog-grid {
    display: grid;
    /* Ajustado a 4 columnas para maximizar el espacio junto al sidebar */
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding-top: 10px;
}

.catalog-product-card {
    background: #fff;
    border: 1px solid #ddd; 
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    padding-bottom: 45px; /* Espacio para el botón de compra */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.2s;
    height: auto;
}

.catalog-product-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.catalog-product-card img {
    width: 100%;
    height: 180px; /* Tamaño de la imagen para la cuadrícula */
    object-fit: contain; /* Mostrar la imagen completa */
    padding: 10px;
}

.catalog-product-info {
    text-align: center;
    padding: 0 10px 10px;
}

.catalog-product-name {
    display: block;
    font-size: 13px;
    color: #333;
    line-height: 1.3;
    min-height: 34px; /* Para que las tarjetas se alineen */
    margin-bottom: 5px;
    text-decoration: none;
}

/* Precios */
.catalog-old-price {
    display: block;
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
    margin-bottom: -5px;
}
.catalog-product-price {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #d9534f; /* Color de acento rojo */
}

/* Botón de Compra */
.add-to-cart-btn {
    position: absolute;
    background-color: #f14713; 
    border-color: #333;
    color: white;
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom:10px;
    cursor: pointer;
    padding: 50p;
    transition: background-color 0.2s;
}

.add-to-cart-btn:hover {
    background-color: #a94442;
}